@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zain:wght@300;400;500;600;700&display=swap");
/* COLORES */
/* Tipografía principal */
/* Fondo de la página */
/* Barra de navegación */
/* Bordes de contenedores */
/* Fondo de las tarjetas */
/* ESPACIADO */
/* CONTENEDOR */
/* BREAKPOINT: RESPONSIVE*/
/* TIPOGRAFÍA */
/* INTERLINEADO */
/* PESOS */
/* DESKTOP BREAKPOINT */
body {
  background-color: #F0F8FF;
  margin: 0;
}

@font-face {
  font-family: logoFont;
  src: url(../assets/fonts/amoera-Regular.ttf);
}
/* base del documento */
body {
  font-family: "Inter", system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #353839;
}

/* títulos */
h1 {
  font-size: 1.95rem;
  font-weight: 700;
}

h2 {
  font-size: 1.56rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

/* texto */
p {
  font-size: 1rem;
  line-height: 1.6;
}

.planet {
  display: flex;
  align-items: center;
}

.planet--reverse {
  flex-direction: row-reverse;
}

.planet__image {
  width: clamp(140px, 18vw, 180px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.planet__description {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.planet--reverse .planet__description {
  margin-left: 0;
  margin-right: 20px;
}

.hero, .main {
  margin-top: 150px;
}

.hero__title {
  text-align: center;
  font-family: logoFont;
  font-size: 6rem;
  margin-bottom: 0;
}

.hero__description {
  text-align: center;
  margin-top: 0;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero__button {
  width: 100px;
}

.card {
  background: #d5dfee;
  border-radius: 12px;
  border: 3px solid #8DA8D0;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px;
}

.plans__list {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* contenedor general de la web */
.container {
  width: min(100% - 2rem, 72rem);
  margin-inline: auto;
}

/* layout/_flex-layout.scss */
.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .post {
    flex-direction: row;
  }
}

/* elementos en columna con espacio automático */
.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* grupo horizontal adaptable */
.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

/* layout responsive */
.split {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .split {
    flex-direction: row;
  }
}

/* layout para imagenes planetas*/
.planet-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .planet-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #c6c6e2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.nav__item {
  margin: 20px;
}

.nav__icon {
  width: 24px;
  height: 24px;
  max-width: 24px;
  object-fit: contain;
}

/*# sourceMappingURL=index.css.map */
