{{define "nav"}}
<nav class="nav">
    <ul class="nav__list">
        {{if .Nav.HomeHref}}
        <li class="nav__item">
            <a href="{{.Nav.HomeHref}}" class="nav__home" aria-label="Inicio">
                <img src="/assets/image/avif/logo.avif" alt="Logo Introspecta" class="nav__logo">
            </a>
        </li>
        {{end}}
        {{range .Nav.Dropdowns}}
        <li class="nav__item">
            <details class="{{if .Class}}{{.Class}}{{else}}nav__dropdown{{end}}">
                <summary class="nav__toggle"{{if not .Label}} aria-label="Usuario"{{end}}>
                    {{if .SummaryIcon}}<img src="{{.SummaryIcon}}" alt="{{.Label}}" class="nav__icon">{{end}}
                    {{if .Label}}<span class="nav__toggle__title">{{.Label}}</span>{{end}}
                </summary>
                <ul class="nav__submenu">
                    {{range .Items}}
                    <li>
                        {{if eq .Method "POST"}}
                        <form method="post" action="{{.Href}}" class="nav__submenu-form">
                            <button type="submit" class="nav__submenu-action{{if .Active}} nav__item--active{{end}}">
                                {{if .Icon}}<img src="{{.Icon}}" alt="{{.Label}}" class="nav__icon" style="width:1.5em;vertical-align:middle;margin-right:0.5em;">{{end}}
                                {{.Label}}
                            </button>
                        </form>
                        {{else}}
                        <a href="{{.Href}}" class="nav__submenu-action{{if .Active}} nav__item--active{{end}}">
                            {{if .Icon}}<img src="{{.Icon}}" alt="{{.Label}}" class="nav__icon" style="width:1.5em;vertical-align:middle;margin-right:0.5em;">{{end}}
                            {{.Label}}
                        </a>
                        {{end}}
                    </li>
                    {{end}}
                </ul>
            </details>
        </li>
        {{end}}
        {{range .Nav.Links}}
        <li class="nav__item"><a href="{{.Href}}">{{.Label}}</a></li>
        {{end}}
    </ul>
</nav>
{{end}}
