{{define "post_card"}}
<article class="post card">
    <header class="post__header">
        <p class="post__user">@{{.User}}</p>
        <p class="post__title">{{.Title}}</p>
    </header>
    <div class="post__content">
        <p class="post__text">{{.Text}}</p>
        <div class="post__media">
            <img src="" alt="">
        </div>
    </div>
    <footer class="post__footer">
        {{if .Location}}<p class="post__location">{{.Location}}</p>{{end}}
        {{if .Date}}<p class="post__date">{{.Date}}</p>{{end}}
    </footer>
</article>
{{end}}
