{{define "review_card"}}
<article class="community__item card">
    <div class="community__stars" aria-label="5 estrellas">{{.Stars}}</div>
    <p>"{{.Text}}"</p>
    <span>- {{.Author}}</span>
</article>
{{end}}
