{{define "base"}}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}El Mundo Interior{{end}}</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="{{block "bodyclass" .}}page{{end}}">
    {{template "nav" .}}
    <main class="main">{{block "content" .}}{{end}}</main>
    {{template "footer" .}}
</body>
</html>
{{end}}