/* layout/_flex-layout.scss */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include desktop {
    flex-direction: column;
  }
}


/* layout para imagenes planetas*/
.planet-list {
  display: flex;
  flex-direction: column;
  gap: $space-lg;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
}