@use "../abstracts/variables" as *;

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $color-navbar;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.nav__item {
    margin: 20px;
}

.nav__icon {
    width: 24px;
    height: 24px;
    max-width: 24px;
    object-fit: contain;
}