@use "../abstracts/variables" as *;

.page {
	&__home {
		background-color: $color-background;
	}

	&__mundo-artistico,
	&__artes-visuales,
	&__artes-narrativas,
	&__cultura-pensamiento {
		background-color: $color-planet-1;
		--card-bg: #{$color-card-1};
		--card-border: #{$color-card-border-1};
	}

	&__mundo-espiritual,
	&__ejercicios-espirituales,
	&__renovacion-energia,
	&__practicas-filosoficas-espirituales {
		background-color: $color-planet-2;
		--card-bg: #{$color-card-2};
		--card-border: #{$color-card-border-2};
	}

	&__mundo-fisico,
	&__conciencia,
	&__cuidado,
	&__descanso {
		background-color: $color-planet-3;
		--card-bg: #{$color-card-3};
		--card-border: #{$color-card-border-3};
	}

	&__mundo-mental,
	&__atencion,
	&__percepcion,
	&__aprendizaje {
		background-color: $color-planet-4;
		--card-bg: #{$color-card-4};
		--card-border: #{$color-card-border-4};
	}

	&__mundo-personal,
	&__diario,
	&__habitos,
	&__proyectos {
		background-color: $color-planet-5;
		--card-bg: #{$color-card-5};
		--card-border: #{$color-card-border-5};
	}

	&__mundo-reflexivo,
	&__autoconcepto,
	&__emociones,
	&__sentido {
		background-color: $color-planet-6;
		--card-bg: #{$color-card-6};
		--card-border: #{$color-card-border-6};
	}
}
