@use "../abstracts/variables" as *;

.card {
    background: $color-card-background;
    border-radius: 12px;
    border: 2px solid $color-border-container;
    overflow: hidden;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    padding: 40px;
    margin: 20px;
}
