@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
    background-color: $color-navbar;
    padding: 2rem 5vw;
    box-shadow: 0 -4px 12px rgba(0,0,0,0.1);

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__contact-field {
        display: grid;

        grid-template-columns: 15vw 65vw;

        @include desktop {
            grid-template-columns: 5vw 15vw;
        }

        gap: 10px;
        align-items: center;
    }

    &__contact-input, &__contact-textarea {
        width: 100%;
        box-sizing: border-box;
    }

    &__contact-textarea {
        resize: vertical;
    }

}

