@use "../abstracts/variables" as *;

.hero, .main {
    margin-top: 150px;

    &__title{
        text-align: center;  
        font-family: logoFont;
        font-size: $font-logo;
        margin-bottom: 0;
    }

    &__description {
        text-align: center;
        margin-top: 0;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    &__button {
        width: 100px;
    }
}