.plans__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5vh;
    align-items: stretch;
}

.plan {
    flex: 1;
    &:nth-child(2) {
        flex: 1.2;
        transform: scale(1.05);
    }
}