@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.planet {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
  flex-direction: column;

  &:hover {
    transform: translateY(-2px);
    filter: brightness(0.95);
  }

  &__image {
    width: clamp(140px, 18vw, 180px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
  }

  &__description {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  @include desktop {
    flex-direction: row;
    &__reverse {
      flex-direction: row-reverse;
    }

    &__reverse &__description {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}