@use "../abstracts/variables" as *;

.planet {
  display: flex;
  align-items: center;
}

.planet--reverse {
  flex-direction: row-reverse;
}

.planet__image {
  width: clamp(140px, 18vw, 180px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.planet__description {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.planet--reverse .planet__description {
  margin-left: 0;
  margin-right: 20px;
}

@use "../abstracts/variables" as *;

.planet {
  display: flex;
  align-items: center;
}

.planet--reverse {
  flex-direction: row-reverse;
}

.planet__image {
  width: clamp(140px, 18vw, 180px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.planet__description {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.planet--reverse .planet__description {
  margin-left: 0;
  margin-right: 20px;
}