.question-generator {

    &__item{
        padding: 10px;
        text-align: center;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    &__title {
        text-align: center;
    }

    margin-bottom: 7vh;
}