@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.subsections, .sections__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
    align-items: stretch;

    @include desktop {
        flex-direction: row;
    }
}

.subsections {
    margin-top: 10vh;
}

.subsection, .sections__item {
    flex: 1;
}

.sections__item {
    display: block;
    text-decoration: none;
    color: inherit;
}


.subsection__links a {
  color: #1f4d8f;
  text-decoration: underline;
  text-underline-offset: 3px;
}
