@use "../abstracts/variables" as *;

body {
  background-color: $color-background;
  margin: 0;
}

ul {
  padding-left: 0;
  margin-left: 1vw;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Force SVG icons to render in black globally. */
img[src$=".svg"] {
  filter: brightness(0) saturate(100%);
}


.main {
  margin-top: 7vh;
}

