@use "../abstracts/variables" as *;

body {
  margin: 0;
}

ul {
  padding-left: 0;
  margin-left: 1vw;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Force SVG icons to render in black globally. */
img[src$=".svg"] {
  filter: brightness(0) saturate(100%);
}

.main {
  margin-top: 7vh;
}

#footer-contact-ok {
  width: 100%;
  text-align: right;
}

