/* COLORES */
/* Tipografía principal */
$color-text: #353839; // Onyx (negro suave)
/* Fondo de la página */
$color-background: #F0F8FF; // Alice Blue
/* Barra de navegación */
$color-navbar: #c6c6e2;
$color-navbar-border: #9494b9;
/* Bordes de contenedores */
$color-border-container: #8DA8D0; // Wisteria Blue
/* Fondo de las tarjetas */
$color-card-background: #d5dfee; 

// Colores planetas
$color-planet-1: rgb(222, 214, 203);
$color-planet-2: #D9EFF3;
$color-planet-3: #FCE5C5;
$color-planet-4: #D4F4F5;
$color-planet-5: #D5CCC3;
$color-planet-6: #B9CAC7;

$color-card-1: #EFEBDC;
$color-card-border-1: #4F3A2A;
$color-card-2: #EDF8FB;
$color-card-border-2: #96c4ce;
$color-card-3: #FFF3DF;
$color-card-border-3: #E7C998;
$color-card-4: #E9FDFF;
$color-card-border-4: #9EDFE4;
$color-card-5: #F0E9E3;
$color-card-border-5: #C2B3A4;
$color-card-6: #E5EFED;
$color-card-border-6: #9CB3AF;


/* ESPACIADO */
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;


/* CONTENEDOR */
$container-width: 72rem;

/* BREAKPOINT: RESPONSIVE*/
$bp-desktop: 1024px;


/* TIPOGRAFÍA */
$font-base: 1rem;
$font-medium: 1.25rem;
$font-large: 1.56rem;
$font-xl: 1.95rem;
$font-logo: 6rem;


/* INTERLINEADO */
$line-height-base: 1.5;


/* PESOS */
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;