/* Tipografía principal */
$color-text: #353839; // Onyx (negro suave)
/* Fondo de la página */
$color-background: #F0F8FF; // Alice Blue
/* Barra de navegación */
$color-navbar: #CCCCFF; // Periwinkle
/* Bordes de contenedores */
$color-border: #8DA8D0; // Wisteria Blue

/* ESPACIADO */
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;


/* CONTENEDOR */
$container-width: 72rem;

/* BREAKPOINTS */
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-wide: 1280px;